<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>疫情监控</title>
    <script src="../static/js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/china.js"></script>
    <script src="../static/js/echarts-wordcloud.min.js"></script>
    <link href="../static/css/main.css" rel="stylesheet">

</head>

<body>
    <div id="title">全国疫情实时追踪</div>
    <div id="time"></div>
    <div id="c1">
        <div class="num">
            <h1></h1>
        </div>
        <div class="num">
            <h1></h1>
        </div>
        <div class="num">
            <h1></h1>
        </div>
        <div class="num">
            <h1></h1>
        </div>

        <div class="txt">
            <h2>累计确诊</h2>
        </div>
        <div class="txt">
            <h2>新增确诊</h2>
        </div>
        <div class="txt">
            <h2>累计治愈</h2>
        </div>
        <div class="txt">
            <h2>累计死亡</h2>
        </div>
    </div>
    <div id='c2'></div>
    <div id='l1'></div>
    <div id='l2'></div>
    <div id='r1'></div>
    <div id='r2'></div>

    <script src="../static/js/ec-map.js"></script>
    <script src="../static/js/ec-l1.js"></script>
    <script src="../static/js/ec-l2.js"></script>
    <script src="../static/js/ec-r1.js"></script>
    <script src="../static/js/ec-wordcloud.js"></script>
    <script src="../static/js/time.js"></script>
    <script src='../static/js/controller.js'></script>

</body>

</html>